.back-ground-app {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, rgb(13, 172, 250), rgb(22, 104, 250));
}
