/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Fira Code Medium";
}
@import "~ngx-toastr/toastr";
@import "~ngx-toastr/toastr-old.css";
